*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

header{
    text-align: center;
    padding: 2rem;
    /* inserire div =>zmargin:auto */
}

/* header .h1 */
h1{
    color: rgb(229, 46, 108);
}

main{
    padding: 2rem 3rem;
}

div[class*="_row"] {
    width: 920px;
    margin: auto;
}

.card{
    background-color: black;
    box-shadow: -2px 6px 6px rgb(0 0 0);
    height: 89px;
    width: calc(100% / 3 - 60px / 3);  
    color: white;
    margin-right: 30px;
    padding: 0;
}
.second_row .card{
    margin-top: 3rem;
}

.card.bianchi{
    float: left;
}

.card.rossi{
    float: left;
}

.card.verdi{
    float: left;
    margin-right: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 30%;
    vertical-align: middle;
}

.text_card{
    display: inline-block;
    vertical-align: middle;  
}
.name{
    font-weight: bold;
    font-size: large;
}

.text_card a{
    color: #3da9d8;
    font-size: small;
